.header .container, .footer .container {
	position: relative;
	border-top: 0;
	text-align: center;
}

.container {
	/*border-top: .1rem solid #d1d1d1;*/
	max-width: 80.0rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.header {
    background-color: #f4f5f6;
    padding-top: 1rem;
}

@media (min-width: 40.0rem) {
	.header {
		margin-top: 5rem;
	}
}

#title {
	margin-bottom: 5px;
}

#title-image {
	width: 150px;
}

.description {
	text-align: justify;
}